include hexTileRowMixin
mixin hexMap(ranks, files, width, height, defaultImageURL, boardClass, boardRowClass, boardTileClass)
  //- scoped css typing is used throughout, but is not likely to be respected by the browser
  //- tile class sets width and height
  style(type='text/css', scoped)= 'img.' + boardTileClass + ' { height:' + height + 'px; width:' + width + 'px; }'
  //- rows have no style, no margin, no padding, and a height of a tile
  style(type='text/css', scoped)= 'ol.' + boardRowClass + ' { list-style-type:none; margin:0; padding:0px; height:' + height + 'px; }'
  //- each tile list item is inline
  style(type='text/css', scoped)= 'li.' + boardTileClass + ' { display:inline; }'
  
  //- create styles for absolute placement of tiles in rows
  //- even rows are offset
  evenRowOffset = (width*3)/4
  - for (var colIndex = 0; colIndex < files; colIndex += 1) {
    //- where the left side of the tile will be for this column
    left = colIndex*(width*3)/2
    //- tiles in even rows (0, 2, 4...) are offset to the right by 3/4 tile width
    style(type='text/css', scoped)= 'img.' + boardTileClass + '-even-' + colIndex + '{ position:absolute; left:' + (left + evenRowOffset) + 'px; }';
    style(type='text/css', scoped)= 'img.' + boardTileClass + '-odd-' + colIndex + '{ position:absolute; left:' + left + 'px; }';
  - }
  
  //- create all the rows
  - for (var rowIndex = 0; rowIndex < ranks; rowIndex += 1) {
    //- position each subsequent row 1/2 tile height under the previous
    boardRowID = boardRowClass + '-' + rowIndex
    style(type='text/css', scoped)= 'ol.' + boardRowID + '{ position:absolute; top:' + rowIndex*(height/2) + 'px; }';
    ol(class=[boardClass, boardRowClass, boardRowID])
      if rowIndex%2
        //- tiles in odd rows are flush left
        mixin hexTileRow(files, 'odd', defaultImageURL, boardClass, boardTileClass)
      else
        //- tiles in even rows (row 0, 2, etc.) are shifted to the left
        mixin hexTileRow(files, 'even', defaultImageURL, boardClass, boardTileClass)
  - }
