mixin hexMap(ranks, files, width, height, imgURL, boardClass)
  - var boardTileClass = boardClass + '-tile';
  - var imgHeight = height + 'px';
  - var imgWidth = width + 'px';
  //- even rows are offset right from odd rows, this nests the rows of hexes together
  - var r, top, f, left, evenRowOffset = (width*3)/4;
  
  //- must provide height and width for the containing svg
  svg(class=boardClass, height=((height/2) * (ranks*1 + 1)), width=(files * ((width * 3)/2) + width/4))
    - for (r = 0; r < ranks; r += 1) {
      //- position each subsequent row 1/2 tile height under the previous
      - top = r*(height/2) + 'px';
      - for (f = 0; f < files; f += 1) {
        //- where the left side of the tile will be for this column
        - left = f*(width*3)/2;
        - left += r%2 ? 0 : evenRowOffset;
        svg(class=boardTileClass, data-rank=r, data-file=f, x=left, y=top)
          image(class=boardTileClass, xlink:href=imgURL, preserveAspectRatio="none", height=imgHeight, width=imgWidth)
      - }
    - }
