mixin squareMap(ranks, files, width, height, imgURL, boardClass)
  - var boardTileClass = boardClass + '-tile';
  - var imgHeight = height + 'px';
  - var imgWidth = width + 'px';
  - var r, top, f, left;

  svg(class=boardClass, height=ranks*height, width=files*width)
    - for (r = 0; r < ranks; r += 1) {
      - top = r*height + 'px';
      - for (f = 0; f < files; f += 1) {
        - left = f*width + 'px';
        svg(class=boardTileClass, data-rank=r, data-file=f, x=left, y=top)
          image(class=boardTileClass, xlink:href=imgURL, preserveAspectRatio="none", height=imgHeight, width=imgWidth)
      - }
    - }
